// Шрифты

$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// Цвета

$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #BEBEBE;

